.atom/
.idea
.vscode/
.packages
.pub/
build/
packages
.dart_tool
.flutter-plugins
# Since the current expectation is that clients are using Flutter head,
# and Dart SDK changes unlock dependencies, pubspec.lock isn't useful.
# Ignore it since it just creates noise. When there's a system in place
# for versioning this project relative to Flutter, remove this.
pubspec.lock
.flutter-plugins-dependencies
