name: Rust

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install libjack-dev libgl1-mesa-dev libsdl2-dev
    - name: Build
      run: cargo build -v
    - name: Run tests
      run: cargo test --verbose
  build-macos:
    runs-on: macos-10.14
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: brew install jack sdl2
    - name: Build
      run: RUSTFLAGS="-L $(brew --prefix)/lib" cargo build -v
    - name: Run tests
      run: RUSTFLAGS="-L $(brew --prefix)/lib" cargo test --verbose